@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: -apple-system, 'Inter', sans-serif;
    }

    * {
        @apply font-basic;
    }

    .line-clamp-3 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .line-clamp-4 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    ::-moz-selection { /* Code for Firefox */
        @apply bg-blue-500 text-white;
    }

    ::selection {
        @apply bg-blue-500 text-white;
    }


    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }

    .scrollbar-hide {
        -ms-overflow-style: none; /* for Internet Explorer and Edge */
        scrollbar-width: none; /* for Firefox */
    }
}
